[submodule "submodule/taocp-meetup"]
	path = submodule/taocp-meetup
	url = https://github.com/theartofcomputerprogramming/meetup.git
	branch = master
[submodule "submodule/Donald-Knuth-Books"]
	path = submodule/Donald-Knuth-Books
	url = https://github.com/manjunath5496/Donald-Knuth-Books
